.App {
  color: rgb(80, 80, 80);
}

/* .App-logo {
  height: 60px;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
::-webkit-input-placeholder { /* Edge */
  font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer */
  font-style: italic;
}
::placeholder {
  font-style: italic;
}
.App-header {
  background-color: #f1f1f1;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 600;
  border-bottom: 1px solid #9e9e9e;
}
.app-body {
  display: flex;
}
.app-section {
  background-color:#effffd;
  width: calc(100% - 50px);
  height: calc(100vh - 50px);
}
.app-bar {
  background-color: #f1f1f1;
  width: 50px;
  height: calc(100vh - 50px);
  border-left: 1px solid #9e9e9e;
  position: relative;
  z-index: 99;
}
form .form-control {
  height: 30px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  font-size: 0.9rem;
}
form .form-control:focus {
  height: 90px;
  box-shadow: none;
}
form .btn {
  border-radius: 16px;
  font-size: small;
  padding: 5px 20px;
  vertical-align: sub;
  font-weight: 500;
}
form .btn.btn-primary.disabled, form .btn.btn-primary:disabled {
  color: #6a6969;
  background-color: #ddd;
  border-color: #ddd;
}
.properties-panel {
  width: 350px;
  right: 50px;
  display: flex;
  position: fixed;
  height: calc(100vh - 50px);
  transform: translateX(0);
  transition: transform 0.3s;
  border: 1px solid #E8E8E8;
  background-color: rgb(255, 255, 255);
}
.properties-panel.closePanel {
  transform: translateX(100%);
}
.fill-panel, .slash-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.slash-panel {
  overflow-y: auto;
}
.fill-panel form {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  text-align: right;
}
.section {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  border-left: 4px solid #378ef0;
}
.section .title {
  padding: 15px;
  font-weight: 600;
  font-size: 0.9rem;
  color: #000;
}
.section .body {
  padding: 15px;
}
.footer {
  width: 100%;
  height: 50px;
  /* position: absolute; */
  bottom: 0;
  border-top: 1px solid #ddd;
  display: flex;
}
.footer a {
  color: inherit;
}
.footer a span {
  font-size: 0.9em;
  font-weight: 500;
  vertical-align: initial;
}
.footer a i {
  font-size: 1.4em;
}
.footer a:first-child {
  flex: 1;
}
.footer a:first-child i {
  margin-right: 10px;
  font-size: 1.5em;
  line-height: 30px;
}
.card .card-body img {
  float: left;
  width: 45px;
  border-radius: 50%;
}
.card .card-body .message {
  padding-left: 55px;
}
.card .card-body .message .actions {
  margin-top: 5px;
}
.card-title {
  line-height: 17px;
}
.card-title h6 {
  margin-bottom: 0;
}
.card-title small {
  font-size: 0.8rem;
}
.slash-panel .card {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.slash-panel .card .btn {
  text-align: left;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
.slash-panel .card .btn i {
  margin-right: 5px;
}
.slash-panel .card .btn:focus {
  box-shadow: none;
}
.slash-panel .card-body {
  display: flex;
  flex-wrap: wrap;
}
.squer {
  flex: 0 1 23%;
  height: 70px;
  margin-bottom: 2%;
  background: #ddd;
  margin-right: 2%;
}